[submodule "bluespec/Toooba"]
	path = bluespec/Toooba
	url = https://github.com/CTSRD-CHERI/Toooba.git
	branch = CHERI
[submodule "bluespec/DE10Pro-bsv-shell"]
	path = bluespec/DE10Pro-bsv-shell
	url = https://github.com/POETSII/DE10Pro-bsv-shell.git
[submodule "vipbundle"]
	path = vipbundle
	url = https://github.com/CTSRD-CHERI/vipbundle.git
[submodule "bluespec/Recipe"]
	path = bluespec/Recipe
	url = https://github.com/CTSRD-CHERI/Recipe.git
[submodule "bluespec/VirtualDevice"]
	path = bluespec/VirtualDevice
	url = https://github.com/jonwoodruff/VirtualDevice
[submodule "bluespec/cheri-bgas-fuse-devfs"]
	path = bluespec/sim-utils/cheri-bgas-fuse-devfs
	url = https://github.com/CTSRD-CHERI/cheri-bgas-fuse-devfs.git
[submodule "bluespec/sim-utils/RISCV_gdbstub"]
	path = bluespec/sim-utils/RISCV_gdbstub
	url = https://github.com/CTSRD-CHERI/RISCV_gdbstub.git
[submodule "bluespec/sim-utils/forever-splice"]
	path = bluespec/sim-utils/forever-splice
	url = https://github.com/CTSRD-CHERI/forever-splice.git
[submodule "bluespec/BSVFan"]
	path = bluespec/BSVFan
	url = https://github.com/POETSII/BSVFan.git
[submodule "software/bare-metal-de10-cheri-bgas"]
	path = software/bare-metal-de10-cheri-bgas
	url = https://github.com/CTSRD-CHERI/bare-metal-de10-cheri-bgas.git
