[submodule "bluespec/Toooba"]
	path = bluespec/Toooba
	url = https://github.com/CTSRD-CHERI/Toooba.git
	branch = CHERI
[submodule "bluespec/DE10Pro-bsv-shell"]
	path = bluespec/DE10Pro-bsv-shell
	url = https://github.com/POETSII/DE10Pro-bsv-shell.git
[submodule "vipbundle"]
	path = vipbundle
	url = https://github.com/CTSRD-CHERI/vipbundle.git
[submodule "bluespec/Recipe"]
	path = bluespec/Recipe
	url = https://github.com/CTSRD-CHERI/Recipe.git
[submodule "bluespec/cheri-bgas-fuse-devfs"]
	path = bluespec/cheri-bgas-fuse-devfs
	url = https://github.com/CTSRD-CHERI/cheri-bgas-fuse-devfs.git
