mkCHERI_BGAS_Top_Sig_hw.tcl

output_files*/
qdb/
software/uboot_build/
bluespec/build/
bluespec/.depends.mk
cheri-bgas-rtl/
.qsys_edit/

# Intermediate files?
tmp-clearbox/
toplevel/
mkCHERI_BGAS_Top_Sig_hw.tcl

ip/toplevel/CHERI_BGAS_Top/
ip/toplevel/clock_in/
ip/toplevel/emif_ddrb/
ip/toplevel/emif_ddrc/
ip/toplevel/emif_ddrd/
ip/toplevel/emif_hps_ddra/
ip/toplevel/fan_controller/
ip/toplevel/hps/
ip/toplevel/reset_in/
ip/toplevel/toplevel_mm_ccb_0/

ip/reset_release/
ip/seriallite3_wrapper/axi4lite_management_bridge/
ip/seriallite3_wrapper/iopll/
ip/seriallite3_wrapper/mkBERT_Instance_a/
ip/seriallite3_wrapper/mkBERT_Instance_b/
ip/seriallite3_wrapper/mkBERT_Instance_c/
ip/seriallite3_wrapper/mkBERT_Instance_d/
ip/seriallite3_wrapper/mkSerialLite3_Instance_a/
ip/seriallite3_wrapper/mkSerialLite3_Instance_b/
ip/seriallite3_wrapper/mkSerialLite3_Instance_c/
ip/seriallite3_wrapper/mkSerialLite3_Instance_d/
ip/seriallite3_wrapper/mkStatusDevice_Instance_Status15_0/
ip/seriallite3_wrapper/reset200/
ip/seriallite3_wrapper/reset50/
ip/seriallite3_wrapper/reset_bridge/
ip/seriallite3_wrapper/seriallite3_wrapper_clock_in/

seriallite3_wrapper